<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - Domingos de Eulária Dumba</title>
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 160 }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 160 }}" />
    <meta property="og:image" content="./assets/images/avatar.png" />
    <meta property="og:url" content="https://domingosdeeulariadumba.github.io{{ page.url }}" />
    <meta property="og:site_name" content="Domingos de Eulária Dumba" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/projects.css" />
    <script src="/scripts/main.js"></script>
  </head>

  <body>
    <!--Header start-->
    <header class="header noselect">
      <div class="header-measure">
        <a class="header-navbar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">🏠︎ home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects.html">☕︎ projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/blog.html">˒﹚) blog</a>
            </li>
          </ul>
        </a>
      </div>
    </header>
    <!--end of Header-->

    <!-- Main content -->
    <main class="container">        
        <article id="wrapper" class="home">
            <h1 id="title">{{ page.title }}</h1>
            <p id="date">
                Published on {{ page.date | date: "%b %d, %Y" }}
                <span class="last-update"> • Updated on {{ page.date | date: "%b %d, %Y" }}</span>
                <span class="author"> • By {{ page.author }}</span>
            </p>
            <p id="cover">
            <img src="/../assets/blog/{{page.cover}}" alt="cover"/>    
            Credit: {{ page.cover_credit }}
            </p>            
            {{ content }}            
            <br><br>
            <a href="/blog.html">⤶ Back to all posts</a>
        </article>
    </main>
    
    <!--Footer start-->
    <footer></footer>
    <!--end of Footer-->

    <!-- analytics section -->
    <script
      async
      defer
      src="https://scripts.simpleanalyticscdn.com/latest.js"
    >
    </script>
    <noscript>
      <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/>
    </noscript>
  </body>
</html>