body {
  overflow-x: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  max-width: 1006px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #333333;
  line-height: 20px;
  font-family: Open Sans;
  font-size: small;
  margin-left: -40px;
}

.nav-link.active {
  font-weight: bold;
  font-family: Open Sans;
  font-size: small;
  margin-left: -30px;
  color: #548494;
}

.profile {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.profile #avatar {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: -6px;
}

.typing-link img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

@media (max-width: 500px) {
  .typing-link img {
    width: 90%;
  }
}

#social-links a{
  text-decoration: none;
}

#social-links b{
  display: inline-block;
  margin-top: 1rem;
  display: flex;
  gap: 12px;
  justify-content: center;
  position: relative;
}

footer {
  font-size:11px; 
  text-align: center; 
  margin-top:6px;
  color: #548494;
}